.Card {
    border: 10px solid black;
    padding: 20px;
    padding-bottom: 8px;
    border-radius: 8px;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    background-color: blueviolet;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 400px;

}